<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>

<body>
    <h1>Your Random No is : <%= num %>
    </h1>
    <p>
        <% if (num%2===0) { %>
            <h1>This Is Even number</h1>
            <% } else { %>
                <h1>This is Odd Number</h1>
                <% } %>
    </p>

    <p>



    </p>

</body>

</html>